/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/box-shadow";

.sample {
  //display: none;
}

.topright {
  position: absolute;
  top: 0px;
  right: 0px;
}

.logo {
  padding-top: 0.5em;
  padding-left: 0.3em;
  padding-bottom: 0.1em;
  padding-right: 0.4em;
  background-color: #ff0;
  @include box-shadow(#990, -5px, 5px);
  h1 {
    font-size: 20pt;
    em {
      font-style: italic;
    }
  }
}

.doclist {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 120%;
}

.docwrap {
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}

.doc {
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .subject {
    color: #44b;
    font-weight: bold;
  }
  .cue {
    color: #4b4;
    font-style: italic;
  }
  .body {
  }
  .code {
    font-weight: bold;
  }
  .input {
    textarea {
      width: 100%;
    }
  }
  .output {
    font-style: italic;
  }
  .date {
    font-style: italic;
    color: #888;
  }
  .tag.lang {
    color: #228b22;
  }
  .tag.lang:hover {
    color: #228b22;
  }
  a.oplink {
    color: #888;
  }
  .three {
    position: relative;
    .left {
      top: 0;
      left: 0;
    }
    .center {
      position: absolute;
      top: 0;
      left: 33%;
      right: 33%;
      text-align: center;
    }
    .right {
      position: absolute;
      top: 0;
      right: 0;
      text-align: right;
    }
  }
}

.doc.toolbar a {
  margin-right: 0.8em;
}

